<html>
  <title>My Cool To-Do List</title>
  <head>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script src="/angular/angular.js" defer></script>
    <script src="/js/app.js" defer></script>

  </head>
  <body ng-app="app">
    <div ng-controller="MainCtrl">

      <h1 href="/">
        <span class="glyphicon glyphicon-pencil"></span>
        <span>   My Cool To-Do List</span>
      </h1>
      <main-header></main-header>
      <div class="row activities">
        <form name="formInput" ng-submit="addItem(todoInput)">
          <input ng-model="todoInput" type="text">
          <button class="btn btn-sm btn-primary" id="addActivity">+</button>
        </form>
      </div>

      <div class="row">
        <div class='col-xs-6'>
          <h2> To Do </h2>
          <div class="lists">
            <ul id="todo-list">
              <list-item ng-repeat="item in items" item="item"></list-item>
            <!-- Your Todo List Here -->
            </ul>
          </div>

        </div>

        <div class='col-xs-6'>
          <h2> Complete </h2>

          <div class="lists">
            <ul id="complete-list">
              <!-- Your Completed Tasks Here -->
            </ul>
          </div>

        </div>



      </div>


    </div>




  </body>
</html>
